/* css áº£nh */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap");
/* body {
  font-family: "Chakra Petch", sans-serif;
} */
.carousel__wrapper {
  padding: 20px;
}
.carousel__content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.carousel__container {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  justify-content: center;
}
.carousel__container::-webkit-scrollbar {
  display: none;
}
.carousel__slide {
  min-width: 90%;
}
.card__description {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.card__description img {
  width: 20px;
}
.card__description span {
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
}
.card__description span.fire {
  background-color: orange;
}
.card__description span.psychic {
  background-color: rgb(146, 100, 108);
}
.card__description span.electric {
  background-color: rgb(231, 210, 88);
}
.card__description span.rock {
  background-color: rgb(114, 102, 32);
}
.card__description span.grass {
  background-color: rgb(32, 114, 69);
}

.card__inner {
  display: flex;
  align-items: center;
  justify-content: center;
/*   margin: 15px;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 50px;
  border-radius: 15px;
  background-color: #fff;
  padding: 2rem 4rem; */
}
.card__inner h4 {
  font-size: 1.5rem;
  margin: 0;
  color: rgb(170, 155, 155);
}
.card__image img {
  max-height: 82px;
/*   margin-bottom: 1rem; */
}
.arrow {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: calc(50% - 10px);
  background-color: rgba(3, 101, 214, 0.664);
  padding: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrow i {
  font-size: 1.5rem;
  color: #fff;
}
.arrow.arrow--right {
  right: 0%;
}
.arrow.arrow--left {
  left: 0%;
}

@media screen and (min-width: 1180px) {
  .carousel__wrapper {
    padding: 10px;
  }
  .carousel__slide {
    min-width: 33.33%;
    scroll-snap-align: center;
    position: relative;
  }
  .arrow {
    display: flex;
  }
}

.carousel__slide .card {
	margin: 10px;
}
/* css review */
.my-2 {
    margin-top: 0.5rem!important;
    margin-bottom: 0.5rem!important;
}
.is-flex {
	display: flex !important;
}
.boxReview-score {
    border-right: 1px solid #e5e7eb;
    flex-direction: column;
    padding: 24px;
    flex-direction: column;
}
.reviewAndComment {
	padding: 0;
}
.star-box-review {
	padding:0;
	margin:0;
	justify-content: center;
}
.boxReview {
	margin: 0;
	padding: 0;
	border: 1px solid #e5e7eb;
	border-radius: 30px;
}
.count-review {
	margin-bottom: 0;
}
.star-box-review .is-active {
    fill: #f59e0b;
}
.boxReview .boxReview-review .boxReview-star {
    width: 60%;
    flex-direction: column;
}
.is-justify-content-space-evenly {
    justify-content: space-evenly!important;
}
.is-align-items-center {
    align-items: center!important;
}
.boxReview-star progress {
    max-width: 70%;
    width: 60%;
    height: 8px;
    border-radius: 5px;
}
.star-count svg {
    height: 12px;
    fill: #f59e0b;
}
.star-count .is-active {
	margin-bottom: 5px;
    margin-left: 2px;
}
.has-text-weight-bold {
	font-weight: 500;
    color: black;
}
.boxReview-comment {
    width: 100%;
}

.boxReview-comment-item-title div .name-letter {
	width: 25px;
    height: 25px;
    background-color: #ddd;
    font-weight: 600;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 0
}
.is-justify-content-space-between {
    justify-content: space-between!important;
}
.boxReview-comment-item-review {
    width: calc(100% - 40px);
    background-color: #f3f4f6;
    margin-left: 40px;
    border-radius: 10px;
}
.item-review-rating {
	font-size: 12px;
	display: flex;
}
.item-review-rating strong {
	margin-right: 20px;
}
strong {
    color: #363636;
    font-weight: 700;
}
.item-review-rating div .is-active {
    fill: #f59e0b;
}
.container-review {
	border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    padding: 35px;
}
.product {
	height: 390px !important;
}
.product .img-prod img {
    min-height: 290px;
    width: 300px !important;
    object-fit: contain;
}


