.product__item__pic {
	max-height: 200px !important;
}

.product__item__pic.set-bg {
	background-size: contain;
}
/* css button side bar */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
button {
    width: 150px;
    height: 40px;
    transition: 0.25s;
    border-radius: 4px;
    margin: 10px;
    font-size: 16px;
    font-family: Roboto;
    cursor: pointer;
}
.active-btn-filter-category {
	border: 2px solid #cd1cf3 !important;
    color: #cd1cf3 !important;
    
}
.bg-active {
	background-color: #cd1cf3 !important;
}
.overlap {
    display: inline-block;
    text-align: center;
    transition: 0.2s;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    background: none;
}
.overlapText {
    transition: 0.3s;
    margin-block: 0px;
}
.overlapTwo {
    position: absolute;
    width: 60px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    left: -60px;
    transition: 0.3s;
    top: 0;
    height: 40px;
}
.overlapTwoText {
    color: #fff;
    font-size: 16px;
    margin-block: 10px;
    font-weight: 600;
}
.overlap:hover .overlapTwo {
    left: 0px;
}
.overlap:hover .overlapText {
    margin-left: 55px;
}
.overlap:active {
    /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(255, 0, 0, 0.3);
}

.leftLine {
    color: #fd1e22;
    background: none;
    border: none;
    position: relative;
}
.leftLine::before {
    content: "";
    background: #fd1e22;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.leftLine:hover::before {
    width: 100%;
}

.middleLine {
    color: #f36d22;
    background: none;
    border: none;
    position: relative;
}
.middleLine::before {
    content: "";
    background: #f36d22;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transition: 0.3s;
}
.middleLine:hover::before {
    width: 100%;
    left: 0;
}

.rightLine {
    color: #fdfe22;
    background: none;
    border: none;
    position: relative;
}
.rightLine::before {
    content: "";
    background: #fdfe22;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0%;
    transition: 0.3s;
}
.rightLine:hover::before {
    width: 100%;
}


.corners {
    color: #1dfe22;
    background: none;
    border: none;
    position: relative;
}
.corners::before,
.corners::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: none;
    width: 0;
    height: 0;
    border-top: 0px solid #1dfe22;
    border-left: 0px solid #1dfe22;
    transition: 0.4s width, 0.4s height;
    border-radius: 5px;
}
.corners::before {
    top: -1px;
    left: -1px;
}
.corners::after {
    bottom: -1px;
    right: -1px;
}
.corners:hover::before,
.corners:hover::after {
    width: 100%;
    height: 100%;
}
.corners:hover::before {
    border-top: 2px solid #1dfe22;
    border-left: 2px solid #1dfe22;
}
.corners:hover::after {
    border-bottom: 2px solid #1dfe22;
    border-right: 2px solid #1dfe22;
}