:root { 
	--background-color-template: #008848;
}

html * {
	box-sizing: border-box;
}

p {
	margin: 0;
}

.upload__box {
	padding: 40px;
}

.upload__inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload__btn {
	display: inline-block;
	font-weight: 600;
	color: #fff;
	text-align: center;
	min-width: 116px;
	padding: 5px;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 2px solid;
	background-color: #4045ba;
	border-color: #4045ba;
	border-radius: 10px;
	line-height: 26px;
	font-size: 14px;
}

.upload__btn:hover {
	background-color: unset;
	color: #4045ba;
	transition: all 0.3s ease;
}

.upload__btn-box {
	margin-bottom: 10px;
}

.upload__img-wrap {
	display: flex;
	flex-wrap: nowrap;
	margin: 0 -10px;
}

.upload__img-box {
	width: 200px;
	padding: 0 10px;
	margin-bottom: 12px;
}

.upload__img-close {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	line-height: 24px;
	z-index: 1;
	cursor: pointer;
}

.upload__img-close:after {
	content: '\2716';
	font-size: 14px;
	color: white;
}

.img-bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	padding-bottom: 100%;
}

.select-manager-product {
	max-width: 95% !important;
}

.is-align-item-center {
	align-items: center;
}

.modal-content {
	color: var(--background-color-template);
}
.form-group label {
	font-weight: 600;
}

.image-avatar-employee-manager {
    max-width: 65px;
	width: 100% !important;
	height: auto !important;
	border-radius: 0 !important;
}
.img-avt-modal {
	max-width: 200px
}

/* css validation */




/**
* ! style rules for form icons
**/

form div i {
  position: absolute;
  padding: 10px;
}

.success-icon,
.failure-icon {
    right: 1em;
    top: 2em;
  	opacity: 0;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

/* css upload image */
body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}
.design-name{
  color:red;
}
h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid var(--background-color-template);;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-upload {
	font-size: 20px;
}
.input-not-edit {
	cursor: no-drop;
    background-color: #aaaaaa4d;
}

.img-detail {
	max-width: 200px;
} 

.icon-upload {
	color: var(--background-color-template);
	font-size: 20px;
    width: 100%;
    position: absolute;
    text-align: center;
    margin: -5px -4px;
}
.typcn-font-20px {
	font-size: 20px;
}