:root {
  --maincolor: #2E294E;
  --secondarycolor:#fff;
}
.product__item__pic {
	max-height: 200px !important;
}

.product__item__pic.set-bg {
	background-size: contain;
}
/* css button side bar */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
.card-body ul button {
    width: 150px;
    height: 40px;
    transition: 0.25s;
    border-radius: 4px;
    margin: 10px;
    font-size: 16px;
    font-family: Roboto;
    cursor: pointer;
}
.active-btn-filter-category {
	border: 2px solid #cd1cf3 !important;
    color: #cd1cf3 !important;
    
}
.bg-active {
	background-color: #cd1cf3 !important;
}
.overlap {
    display: inline-block;
    text-align: center;
    transition: 0.2s;
    position: relative;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    background: none;
}
.overlapText {
    transition: 0.3s;
    margin-block: 0px;
}
.overlapTwo {
    position: absolute;
    width: 60px;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    left: -60px;
    transition: 0.3s;
    top: 0;
    height: 40px;
}
.overlapTwoText {
    color: #fff;
    font-size: 16px;
    margin-block: 10px;
    font-weight: 600;
}
.overlap:hover .overlapTwo {
    left: 0px;
}
.overlap:hover .overlapText {
    margin-left: 55px;
}
.overlap:active {
    /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(255, 0, 0, 0.3);
}

.leftLine {
    color: #fd1e22;
    background: none;
    border: none;
    position: relative;
}
.leftLine::before {
    content: "";
    background: #fd1e22;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
.leftLine:hover::before {
    width: 100%;
}

.middleLine {
    color: #f36d22;
    background: none;
    border: none;
    position: relative;
}
.middleLine::before {
    content: "";
    background: #f36d22;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transition: 0.3s;
}
.middleLine:hover::before {
    width: 100%;
    left: 0;
}

.rightLine {
    color: #fdfe22;
    background: none;
    border: none;
    position: relative;
}
.rightLine::before {
    content: "";
    background: #fdfe22;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0%;
    transition: 0.3s;
}
.rightLine:hover::before {
    width: 100%;
}


.corners {
    color: #1dfe22;
    background: none;
    border: none;
    position: relative;
}
.corners::before,
.corners::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: none;
    width: 0;
    height: 0;
    border-top: 0px solid #1dfe22;
    border-left: 0px solid #1dfe22;
    transition: 0.4s width, 0.4s height;
    border-radius: 5px;
}
.corners::before {
    top: -1px;
    left: -1px;
}
.corners::after {
    bottom: -1px;
    right: -1px;
}
.corners:hover::before,
.corners:hover::after {
    width: 100%;
    height: 100%;
}
.corners:hover::before {
    border-top: 2px solid #1dfe22;
    border-left: 2px solid #1dfe22;
}
.corners:hover::after {
    border-bottom: 2px solid #1dfe22;
    border-right: 2px solid #1dfe22;
}
/* css phần review đánh giá sản phẩm */



.reviewcard {
  box-shadow: 0px 20px 60px -20px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  padding: 30px 50px;
  font-family: sans-serif;
  font-weight: 400;
  border-radius: 15px;
  background: #fff;
  width: 100%;

}

.propicbox {
    float: left;
}

.propic {
    width: 50px;
    height: 50px;
    border-radius: 50px;   
}

.reviewerbox {
    margin: -7px 0 0 60px;
    
}

h1 {
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #636972;
}

.reviewername {
    color: #39599a;
    font-size: 18px;
    font-weight: 600;
}

a, a:visited, a:hover {
    color: #39599a;
    text-decoration: none;
}

.reviewdate {
    font-size: 14px;
    line-height: 3em;
    font-weight: 400;
    color: #636972;
    margin: -10px 0 0 0
}


.review {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
}

.bottomText {
  margin: 15px 0 15px;
  font-size: 14px;
  color: #636972;
}


/* BOTTOM BAR */
.copyrightsleft {
position: fixed;
left: 40px;
bottom: 40px;
text-align: left;
font-size: 12px;
color: #636972;
      font-family: sans-serif;
}

.copyrightsleft {
position: fixed;
right: 40px;
bottom: 40px;
}

.copyrightsright {
position: fixed;
right: 40px;
bottom: 40px;
}

/* custom nút phân trang */

 button {
	 border: none;
	 background-color: transparent;
	 cursor: pointer;
}
 .title {
	 position: absolute;
	 display: flex;
	 justify-content: center;
	 width: 100%;
	 color: #a5b4fc;
}

 .pagination {
	 display: flex;
	 flex-direction: row;
	 padding: 24px;
	 border-radius: 6px;
	 box-shadow: 0px 4px 8px 0px rgba(31, 41, 55, 0.14);
	 background-color: #fff;
	 position: relative;
	 justify-content: center;
}
 .pagination__number-indicator {
	 position: absolute;
	 height: 2px;
	 background-color: #4338ca;
	 opacity: 0;
	 bottom: 38px;
	 transition: all 0.2s ease;
}
 .pagination__number {
	 font-weight: 600;
	 font-size: 16px;
	 color: #d1d5db;
}
 .pagination__number--active {
	 color: #111827;
	 position: relative;
}
 .pagination__number, .pagination__arrow {
	 padding: 16px;
}
 .pagination__arrow--right {
	 transform: scaleX(-1);
}
 .pagination__arrow:hover .pagination__arrow-half:first-child {
	 transform: translateY(0.5px) rotate(-30deg);
}
 .pagination__arrow:hover .pagination__arrow-half:last-child {
	 transform: translateY(-0.5px) rotate(30deg);
}
 .pagination__arrow:active .pagination__arrow-half:first-child, .pagination__arrow--disabled .pagination__arrow-half:first-child {
	 transform: translateY(0) rotate(0);
}
 .pagination__arrow:active .pagination__arrow-half:last-child, .pagination__arrow--disabled .pagination__arrow-half:last-child {
	 transform: translateY(0) rotate(0);
}
 .pagination__arrow--disabled .pagination__arrow-half:last-child, .pagination__arrow--disabled .pagination__arrow-half:first-child {
	 opacity: 0.2;
}
 .pagination__arrow--disabled {
	 pointer-events: none;
}
 .pagination__arrow-half {
	 width: 9px;
	 height: 2px;
	 border-radius: 1px;
	 background-color: #4338ca;
	 display: inline-block;
	 position: absolute;
	 transform-origin: 0px;
	 opacity: 1;
	 transition: transform 0.1s ease-in-out, opacity 0.2s ease-in-out;
}
 .pagination__arrow-half:first-child {
	 transform: translateY(0.5px) rotate(-45deg);
}
 .pagination__arrow-half:last-child {
	 transform: translateY(-0.5px) rotate(45deg);
}
 