.pagination .disabled {
    cursor: not-allowed !important;
    color: white;
    background: #c2c2c2;
}

.price-saleoff-product {
	align-items: baseline;
    justify-content: center;
}
.price-range-wrap .range-slider .price-input .price-ranger {
	max-width: 49% !important;
}
.header__top__right__auth{
	position: relative;
}

.logout-class button  {
	border: none;
    background: #f7f7f7;
    position: absolute;
    left: 5em;
    top: 0;
}

.login-class button  {
	border: none;
    background: #f7f7f7;
    position: absolute;
    left: 9em;
    top: 0;
}



